<%- include header %>
    <style>
      img.thumb {
        height: 60px;
      }
      .para .thumbnail {
       border: none; 
      }
      .para h3 {
        text-align: center;
        font-size:14px;
        line-height: 1;
      }
      .para .caption {
        padding: 0px;
      }
    </style>
  </head>
  
  <body>
    <header class="navbar navbar-inverse" role="banner">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">微信导航</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="../getting-started">首页</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right" action='/search'>
            <input type="text" class="form-control" placeholder="请输入公众号...">
            <button type="submit" class="btn btn-success">搜索</button>
          </form>
        </nav>
      </div>
    </header>
    <div class="container">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">热门微信公众号</h3>
          </div>
          <div class="panel-body para">
            <div class="row">
              <%  var i;
                  for (i = 0; i < 6; i++) {
                    var user = wxPublicUsers[i];
              %>
              <div class="col-xs-6 col-md-2">
                <div class="thumbnail">
                  <img class="thumb" clcc data-src="holder.js/300x200" alt="default" src="<%= user.picturePath %>">
                  <div class="caption">
                    <h3><%= user.id %></h3>
                  </div>
                </div>
              </div>
              <% } %>
            </div><!--row-->
            
            <div class="row">
              <%  var i;
                  for (i = 5; i < 12; i++) {
                    var user = wxPublicUsers[i];
              %>
              <div class="col-xs-6 col-md-2">
                <div class="thumbnail">
                  <img class="thumb" clcc data-src="holder.js/300x200" alt="default" src="<%= user.picturePath %>">
                  <div class="caption">
                    <h3><%= user.id %></h3>
                  </div>
                </div>
              </div>
              <% } %>
            </div><!--row-->
          </div><!--panel-body-->
        </div><!--panel-->
    </div><!--container-->
  </body>
</html>