<%- include ../header %>
  </head>
  
  <body>
    <%- include ../nav %>
    <div class="container">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= title %></h3>
          </div>
          <div class="panel-body para">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" method='post' role="form" enctype='multipart/form-data'>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="name" value="<%= user.name || '' %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">微信号</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="wxNumber" value="<%= user.wxNumber || '' %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">标签</label>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="tag1" value="<%= (user.tags && user.tags[0]) || '' %>">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="tag2" value="<%= (user.tags && user.tags[1]) || '' %>">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" name="tag3" value="<%= (user.tags && user.tags[2]) || '' %>">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">微信描述</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" name="desc"><%= user.desc || '' %></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">logo</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" name="logo">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">二维码</label>
                    <div class="col-sm-10">
                      <input type="file" class="form-control" name="qr">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">保存</button>
                    </div>
                  </div>
                </form>
              </div>
            </div><!--row-->
          </div><!--panel-body-->
        </div><!--panel-->
    </div><!--container-->
  </body>

</html>